[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
black = "*"
certifi = "*"
click = "*"
fastapi = "*"
h11 = "*"
idna = "*"
mypy-extensions = "*"
outcome = "*"
packaging = "*"
pathspec = "*"
pillow = "*"
platformdirs = "*"
pysocks = "*"
pytest = "*"
python-dotenv = "*"
requests = "*"
selenium = "*"
sniffio = "*"
sortedcontainers = "*"
trio = "*"
trio-websocket = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
websocket-client = "*"
wsproto = "*"

[dev-packages]

[requires]
python_version = "3.12"
